@charset "UTF-8";
/* ---base start--- */

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
}

body {
  height: 100%;
  color: #506a85;
  word-wrap: break-word;
  /* font-size: 16px; */
}

.container {
  width: 1170px;
  margin: 0 auto;
}

h1 { font-size: 78px; }
h2 { font-size: 44px; }
h3 { font-size: 26px; }

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  font-size: 0;
}

li { list-style: none; }

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;
}

.cf::after {
  content: '';
  display: block;
  clear: both;
}

.headline {
  text-align: center;
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 70px;
}

.headline_title {
  font-size: 44px;
  line-height: 44px;
  margin-bottom: 30px;
}

.fl { float: left; }
.fr { float: right; }

.address_icon { background: url(../img/footer/icon-address-off.png) no-repeat center left; }
.tel_icon { background: url(../img/footer/icon-tel-off.png) no-repeat center left; }
.mail_icon { background: url(../img/footer/icon-mail-off.png) no-repeat center left; }
/* ---base end--- */

/* ---btn start--- */
.btn {
  position: relative;
  top: 0;
  display: inline-block;
  color: #fff;
  background-color: #00bc9c;
  border-radius: 5px;
  transition: all .3s;
  text-align: center;
}

.btn.large {
  font-size: 18px;
  line-height: 63px;
  width: 300px;
  box-shadow: 0 4px 0 #00a085;
}

.btn.middle {
  font-size: 16px;
  line-height: 50px;
  width: 150px;
  box-shadow: 0 3px 0 #00a085;
}

.btn.small {
  font-size: 14px;
  line-height: 28px;
  width: 90px;
  box-shadow: 0 2px 0 #00a085;
}

.btn:hover { box-shadow: none; }
.btn.large:hover { top: 4px; }
.btn.middle:hover { top: 3px; }
.btn.small:hover { top: 2px; }
/* ---btn end--- */

/* ---header start--- */
header { min-width: 1210px; }

.header_top {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e6e6e4;
}

.header_top_address > li { display: inline-block; }
.header_top_address > li:not(:first-child) { margin-left: 26px; }

.header_top_address_link {
  font-size: 12px;
  line-height: 40px;
  padding-left: 20px;
}

.header_top_address_link:hover { color: #00bc9c; }
.header_top_address_link.mail_icon:hover { background: url(../img/footer/icon-mail-on.png) no-repeat center left; }
.header_top_address_link.tel_icon:hover { background: url(../img/footer/icon-tel-on.png) no-repeat center left; }

.header_top_sns > li { display: inline-block; }

.header_top_sns_link {
  width: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_top_sns_link::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
}

.header_top_sns_link.facebook::before { background: url(../img/header/icon-facebook-off.png) no-repeat center; }
.header_top_sns_link.google::before { background: url(../img/header/icon-google-off.png) no-repeat center; }
.header_top_sns_link.twitter::before { background: url(../img/header/icon-twitter-off.png) no-repeat center; }
.header_top_sns_link.pinterest::before { background: url(../img/header/icon-pinterest-off.png) no-repeat center; }
.header_top_sns_link.behance::before { background: url(../img/header/icon-behance-off.png) no-repeat center; }
.header_top_sns_link.dribbble::before { background: url(../img/header/icon-dribbble-off.png) no-repeat center; }

.header_top_sns_link.facebook:hover { background: #4668b3; }
.header_top_sns_link.google:hover { background: #de5745; }
.header_top_sns_link.twitter:hover { background: #2fbbed; }
.header_top_sns_link.pinterest:hover { background: #d94348; }
.header_top_sns_link.behance:hover { background: #3079ff; }
.header_top_sns_link.dribbble:hover { background: #eb6397; }

.header_top_sns_link.facebook:hover::before { background:  url(../img/header/icon-facebook-on.png) no-repeat center; }
.header_top_sns_link.google:hover::before { background:  url(../img/header/icon-google-on.png) no-repeat center; }
.header_top_sns_link.twitter:hover::before { background:  url(../img/header/icon-twitter-on.png) no-repeat center; }
.header_top_sns_link.pinterest:hover::before { background:  url(../img/header/icon-pinterest-on.png) no-repeat center; }
.header_top_sns_link.behance:hover::before { background:  url(../img/header/icon-behance-on.png) no-repeat center; }
.header_top_sns_link.dribbble:hover::before { background:  url(../img/header/icon-dribbble-on.png) no-repeat center; }

.header_bottom {
  width: 1170px;
  margin: 0 auto;
  padding: 35px 0;
}

.header_bottom_logo,
.header_bottom_menu {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.header_bottom_logo { margin-right: 88px; }

.header_bottom_menu_list > li {
  display: inline-block;
  font-size: 15px;
  margin-left: 44px;
}

.header_bottom_menu_list > li:first-child { margin-left: 0;}
.header_bottom_logo:hover { opacity: .6; }
.header_bottom_menu_link:hover { color: #00bc9c; }
/* ---header end--- */

/* ---keyvisual start--- */
.keyvisual {
  min-width: 1210px;
  padding: 300px 0 305px;
  background: url(../img/main/keyvisual.jpg) center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyvisual_contents { text-align: center; }

.keyvisual_contents_title {
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.keyvisual_contents_text {
  color: #a3b1bf;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 50px;
}
/* ---keyvisual end--- */

/* ---description start--- */
.description {
  min-width: 1210px;
  padding: 120px 0;
  text-align: center;
}

.desc_bottom_title { margin-bottom: 20px; }

.desc_bottom > li {
  width: 24%;
  font-size: 16px;
  line-height: 25px;
  padding-left: 80px;
  margin: 0 10px;
  text-align: left;
  display: inline-block;
}

.passion { background: url(../img/main/description-passion.png) no-repeat center left; }
.creativity { background: url(../img/main/description-creativity.png) no-repeat center left; }
.quality { background: url(../img/main/description-quality.png) no-repeat center left; }
/* ---description end--- */

/* ---work start--- */
.work {
  min-width: 1210px;
  padding: 120px 0;
  background-color: #f2f5f7;
  text-align: center;
}

.work_main {
  margin: 0 -15px 80px;
  font-size: 0;
  display: block;
}

.work_sub {
  margin: 0 -15px;
  font-size: 0;
}

.work_grid_col {
  display: inline-block;
  padding: 0 15px;
  box-sizing: border-box;
}

.box50 { width: 50%; }
.box25 { width: 25%; }

.work_grid_photo { position: relative; }
.work_grid_photo::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 188, 156, .9);
  content: '';
  display: none;
}

.work_grid_photo::after {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 18px;
  content: '+';
  display: none;
  transform: translate(-50%, -50%);
}

.work_main_txt {
  background-color: #fff;
  font-size: 14px;
  padding: 20px 0;
  border-bottom: 2px solid #e6e5e1;
  border-left: 1px solid #e6e5e1;
  border-right: 1px solid #e6e5e1;
}

.work_main_txt_title {
  font-size: 20px;
  margin-bottom: 10px;
}

.work_grid_col:hover .work_grid_photo::before,
.work_grid_col:hover .work_grid_photo::after { display: block; }
.work_grid_col:hover .work_main_txt_title { color: rgba(0, 188, 156, .9); }

.work_sub_hover {
  position: relative;
  display: block;
}

.work_sub_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 185px;
  background-color: rgba(0, 188, 156, .9);
  color: #fff;
  font-size: 16px;
  content: '';
  display: none;
}

.work_sub_txt {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
}

.work_sub_txt span { font-size: 14px; }
.work_grid_col:hover .work_sub_box { display: table; }
/* ---work end--- */

/* ---want start--- */
.want {
  min-width: 1210px;
  text-align: center;
  padding: 120px 0;
}
/* ---want end--- */

/* ---footer start--- */
footer {
  min-width: 1210px;
  text-align: center;
}

.footer_top {
  background-color: #354859;
  color: #a3b1bf;
  padding: 75px 0;
}

.footer_top_list { margin: 0 -20px; }
.footer_top_list > li {
  width: 25%;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

.footer_top_title {
  margin-bottom: 30px;
  font-size: 16px;
  color: #fff;
}

.footer_top_txt {
  margin: 20px 0;
  font-size: 14px;
  line-height: 20px;
}

.footer_top_logo:hover { opacity: .6; }

.footer_top_link {
  color: #a3b1bf;
  font-size: 14px;
  transition: all .3s;
}

.footer_top_link::after {
  content: '→';
  margin-left: 5px;
  transition: all .3s;
}

.footer_top_link:hover { color: #00bc9c; }
.footer_top_link:hover::after { margin-left: 10px;}

.footer_top_photo > li {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 5px;
  /* width: 50%; */
}

.footer_top_photo_box { position: relative; }
.footer_top_photo_box::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 188, 156, .9);
  display: none;
  content: '';
}

.footer_top_photo_box::after {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 18px;
  transform: translate(-50%, -50%);
  display: none;
  content: '+';
}

.footer_top_photo > li:hover .footer_top_photo_box::before,
.footer_top_photo > li:hover .footer_top_photo_box::after { display: block; }

.footer_top_photo > li:nth-child(odd) { padding-right: 2.5px; }
.footer_top_photo > li:nth-child(even) { padding-left: 2.5px; }

.address_inner_link {
  padding-left: 20px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
}

.address_inner_link.address_icon:hover { background: url(../img/footer/icon-address-on.png) no-repeat center left; }
.address_inner_link.tel_icon:hover { background: url(../img/footer/icon-tel-on.png) no-repeat center left; }
.address_inner_link.mail_icon:hover { background: url(../img/footer/icon-mail-on.png) no-repeat center left; }
.address_inner_link:hover { color: #00bc9c; }

.footer_top_form {
  background-color: #515b66;
  border-radius: 3px;
  padding: 5px;
}

.footer_top_form_inner {
  /* width: 147px; */
  padding-left: 5px;
  margin-right: 10px;
  font-size: 14px;
}

.footer_bottom { background-color: #2e3d4c; }
.footer_bottom_wrap {
  font-size: 14px;
  line-height: 20px;
  padding: 30px 0;
}

.footer_bottom_list > li {
  display: inline-block;
  font-size: 14px;
 }

.footer_bottom_list > li:not(:last-child)::after {
  content: '・';
  margin: 0 3px;
  display: inline-block;
}

.footer_bottom_link:hover { color: #00bc9c; }
/* ---footer end--- */
